body {
    background-color: white;
}

.title h1, h2{
    font-family: 'Bungee', cursive;
    color: yellow;
}

h1, h2 {
    font-family: 'Bungee', cursive;
    color: black;
}

p {
    font-family: 'Aldrich', sans-serif;
}

.title {
    border: solid yellow 5px;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo-in-code {
    line-height: 1;
}

.about {
    background-color: yellow;
    border: solid black 3px;
    padding: 10px;
}

.projects-and-startups {
    background-color: yellow;
    border : solid black 3px;
    padding : 10px;
}

.contact-us {
    background-color: yellow;
    border : solid black 3px;
    padding : 10px;
}

#eduverse {
    font-family: 'Fredoka One', cursive;
}

#flashmates {
    font-family: 'Lexend Exa', sans-serif;
}

#mission-sukh {
    font-family: 'Bangers', cursive;
}

#doculator {
    font-family: 'Righteous', cursive;
}


footer {
    position: relative;
    height: 100px;
    width: 100%;
    /*background-color: #333333;*/
}

footer p {
    font-family: 'Bungee', cursive;
    position: absolute;
    width: 100%;
    /*color: #fff;*/
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    bottom:0;
}